<div id="product">
<h2>Nos Produits</h2>
  <div id="filterZone">
    <button id="filter">Filtrez !</button>
  </div>
  <div id="productZone">
    {{#each products}}
    <div class="product">
      <a href="/product/{{_id}}"><img src="{{mainPhoto}}" alt="image de {{productName}}"></a>
      <div class="product_grid_content">
        <h5>{{productName}}</h5>
        <p>Prix: {{productPrice.exVat}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  <div id="buttonProduct">
    <div class="radioButton" id="radioButton1"></div>
    <div class="radioButton" id="radioButton2"></div>
  </div>
</div>