<div id="productZone">
    <div class="product">
      <a href="/product/{{_id}}"><img src="{{mainPhoto}}" alt="image de {{productName}}"></a>
      <h5>{{productName}}</h5>
      <p>Prix: {{exVat}}</p>
  </div>