<form action="/{{userInSession.user._id}}/account_edit" method="POST">
  <div class="signupBlock" id="typeOfCustomer">
    <div class="signupSection">
      <button><a id="individual">Particulier</a></button>
      <button><a id="company">Entreprise</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-block" id="companyProfile">
    <div class="signupSection">
      <input name="companyName" type="text" value="{{companyName}}"/>
      <input name="vatNumber" type="text" value="{{vatNumber}}"/>
      <input name="regNumber" type="text" value="{{redNumber}}"/>
      <input name="nafCode" type="text" value="{{nafCode}}"/>
    </div> 
    <div class="actionButton">
      <button><a id="previousCompany">Précédent</a></button>
      <button><a id="continueCompany">Suivant</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-block" id="userProfile">
    <div class="signupSection">
      <input name="firstName" type="text" value="{{firstName}}"/>
      <input name="lastName" type="text" value="{{lastName}}"/>
      <input name="email" type="email" value="{{email}}"/>
      <input name="phoneNumber" type="tel" value="{{phoneNumber}}"/>
      <input name="dateOfBirth" type="date" value="{{dateOfBirth}}"/>
    </div>
    <div class="actionButton">
      <button><a id="previousUser">Précédent</a></button>
      <button><a id="continueUser">Suivant</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-block" id="billingAdress">
    <div class="signupSection">
      <input name="countryName" type="text" value="{{countryName}}"/>
      <input name="streetName" type="text" value="{{streetName}}"/>
      <input name="streetNumber" type="text" value="{{streetNumber}}"/>
      <input name="zipCode" type="text" value="{{zipCode}}"/>
      <input name="cityName" type="text" value="{{cityName}}"/>
    </div>  
    <div class="actionButton">
      <button><a id="previousAdress">Précédent</a></button>
      <button><a id="continueAdress">Suivant</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-block" id="security">
    <div class="signupSection">
      <input name="password" type="password" value="{{password}}"/>
    </div>  
    <div class="actionButton">
      <button><a id="previousPassword">Précédent</a></button>
      <button><a id="registration" type="submit">Envoyer !</a></button>
    </div>
  </div>
</form>

<script src="/js/signupScript.js"></script>

{{#if message}}
  <p>{{message}}</p>
{{/if}}